fastapi[all]>=0.115.0,<0.116.0
openai
cohere
weaviate-client
langchain_core
langchain_text_splitters
pymupdf4llm
asyncer
prometheus_fastapi_instrumentator
markdown
azure-cognitiveservices-search-websearch